<a href="https://colab.research.google.com/github/KimJuno-Korea/AI/blob/main/subject1/subject1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [98]:
# 라이브러리
import tensorflow as tf
import pandas as pd

In [99]:

#1. 학습 데이터, 테스트 데이터 준비
train_dataset_path = 'https://raw.githubusercontent.com/KimJuno-Korea/AI/main/subject1/train_dataset.csv'
train_dataset = pd.read_csv(train_dataset_path)
train_dataset.head()

test_dataset_path = 'https://raw.githubusercontent.com/KimJuno-Korea/AI/main/subject1/test_dataset.csv'
test_dataset = pd.read_csv(test_dataset_path)
test_dataset.head()

       CRIM  ZN  INDUS  CHAS    NOX  ...  RAD  TAX  PTRATIO       B  LSTAT
0   3.16360   0   18.1     0  0.655  ...   24  666     20.2  334.40  14.13
1   3.77498   0   18.1     0  0.655  ...   24  666     20.2   22.01  17.15
2   4.42228   0   18.1     0  0.584  ...   24  666     20.2  331.29  21.32
3  15.57570   0   18.1     0  0.580  ...   24  666     20.2  368.74  18.13
4  13.07510   0   18.1     0  0.580  ...   24  666     20.2  396.90  14.76

[5 rows x 13 columns]

In [100]:
# 학습 데이터 독립변수, 종속변수
train_dataset_독립 = train_dataset[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']];
train_dataset_종속 = train_dataset[['MEDV']]
print(train_dataset_독립.shape, train_dataset_종속.shape)

(465, 13) (465, 1)

In [101]:
# 테스트 데이터 독립변수
test_dataset_독립 = test_dataset[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']];
print(test_dataset_독립.shape)

(41, 13)

In [102]:
#2. 모델 구조 생성

X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [107]:

#3. 학습 데이터를 이용하여 모델 학습
model.fit(train_dataset_독립, train_dataset_종속, epochs=1000, verbose=0)
model.fit(train_dataset_독립, train_dataset_종속, epochs=10)

Epoch 1/10
15/15 [==============================] - 0s 1ms/step - loss: 27.1035
Epoch 2/10
15/15 [==============================] - 0s 2ms/step - loss: 27.8775
Epoch 3/10
15/15 [==============================] - 0s 2ms/step - loss: 27.4093
Epoch 4/10
15/15 [==============================] - 0s 1ms/step - loss: 26.8972
Epoch 5/10
15/15 [==============================] - 0s 1ms/step - loss: 27.3390
Epoch 6/10
15/15 [==============================] - 0s 1ms/step - loss: 27.6251
Epoch 7/10
15/15 [==============================] - 0s 2ms/step - loss: 26.7167
Epoch 8/10
15/15 [==============================] - 0s 1ms/step - loss: 26.7223
Epoch 9/10
15/15 [==============================] - 0s 1ms/step - loss: 26.9706
Epoch 10/10
15/15 [==============================] - 0s 1ms/step - loss: 27.3295

In [111]:

#4. 테스트 데이터로 모델을 이용
model.predict(test_dataset_독립[0:10])

array([[17.497875],
       [12.624184],
       [15.454082],
       [15.908103],
       [17.465204],
       [19.45533 ],
       [21.798183],
       [21.661543],
       [25.380238],
       [15.216069]], dtype=float32)

In [112]:

#수식 확인
model.get_weights()

[array([[-0.07556634],
        [ 0.07671084],
        [-0.05341568],
        [ 3.1760666 ],
        [ 1.4026423 ],
        [ 4.0736666 ],
        [ 0.02252511],
        [-0.9852084 ],
        [ 0.1418603 ],
        [-0.01083786],
        [ 0.05305931],
        [ 0.01535929],
        [-0.60592866]], dtype=float32), array([2.4274085], dtype=float32)]